@charset "UTF-8";

body {
    background-color: #2a78ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section div p input {
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
}

header, footer, a {
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: clamp(2.5rem, 6vw, 3rem);
}

main section {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    width: 80vw;
    margin: auto;
    box-shadow: 0 0 5px 2px #00000030;
}
main section p {
    padding: 5px 10px;
}

footer {
    font-weight: 100;
}
footer a {
    text-decoration: none;
}



@media (width > 500px) {
    
    main section {
        width: 400px;
    }

}