@charset "UTF-8";

body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header, footer, a {
    color: #fff;
    text-align: center;
}

main section {
    background-color: #e9e9e9;
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
    margin: auto;
    box-shadow: 0 0 5px 2px #00000030;
    padding: 10px;
    text-align: center;
}
main section #msg p {
    font-size: 5vw;
}
main section .foto img {
    width: 60vw;
}

footer a {
    text-decoration: none;
}

.animated-link {
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
}



/* Animação link */

.animated-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #fff;
    left: 50%;
    bottom: -1px;
    transform-origin: center;
    transition: width 0.4s ease-in-out;
}

.animated-link:hover::after {
    width: 100%;
    left: 50%;
    transform: none;
    transform-origin: center;
}

.animated-link::after {
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}
.animated-link:hover::after {
    width: 100%;
    left: 0;
}
/* -------------------------- */



@media (width > 500px) {
    
    main section {
        width: 400px;
        height: 400px;
    }
    main section #msg p {
        font-size: 25px;
    }
    main section .foto img {
        width: 300px;
    }

}