@charset "UTF-8";

body {
    background-color: #2a78ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#numero_tabuada {
    font-family: monospace;
}



header, footer, a {
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: clamp(2.5rem, 6vw, 3rem);
}

main section {
    background-color: #e0e0e0;
    min-height: 350px;
    border-radius: 10px;
    width: 80vw;
    margin: auto;
    box-shadow: 0 0 5px 2px #00000030;
}
main section p {
    padding: 10px;
}
main section .bloco-resultado {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    min-height: 240px;
}
main section .bloco-resultado select {
    display: flex;
    padding: 10px;
    outline: none;
    text-align: center;
    min-width: 200px;
    font-family: monospace;
}

footer {
    font-weight: 100;
}
footer a {
    text-decoration: none;
}



@media (width > 500px) {
    
    main section {
        width: 400px;
    }

}